.fancySL {
    width: fit-content;
    margin: 10px auto;
    padding: 15px;
    color: white;
    font-size: large;
}

.slboard {
    background-image: url("../../public/images/snake-and-ladders-board.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px auto;
}

.row {
    width: 300px;
    height: 30px;
    display: flex;
}

.fancySL .slbox {
    width: 10%;
    height: 100%;
}

.slbox {
    display: flex;
    flex-wrap: wrap;
}

.fancySL .player {
    flex-grow: 1;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: auto auto;
    border: 0.1px solid black;
}

.fancySL .p1 {
    background-color: red;
}

.fancySL .p2 {
    background-color: green;
}

.fancySL .p3 {
    background-color: blue;
}

.fancySL .p4 {
    background-color: yellow;
}

.fancySL .p5 {
    background-color: pink;
}

.fancySL .p6 {
    background-color: orange;
}