.fancySL {
    width: fit-content;
    margin: 10px auto;
    border: 2px solid white;
    padding: 15px;
    color: white;
    font-size: large;
}


.row {
    width: 300px;
    height: 30px;
    display: flex;
}

.fancySL .slbox {
    width: 10%;
    height: 100%;
    border: 1px solid white;
} 

.slbox {
    display: flex;
    flex-wrap: wrap;
}

.fancySL .player{
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.fancySL .p1{
    background-color: red;
}
.fancySL .p2{
    background-color: green;
}
.fancySL .p3{
    background-color: blue;
}
.fancySL .p4{
    background-color: yellow;
}
.fancySL .p5{
    background-color: pink;
}
.fancySL .p6{
    background-color: orange;
}