@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

.person-card {
  margin: 10px;
  width: 320px;
  height: 600px;
  
  color: white;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #1b1a55;
  border-radius: 15px;

  
}

.person-card .person-text {
  padding: 12px 30px;
  height: 280px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.person-card .profile-pic {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  aspect-ratio: 1;
}

.person-card .person-name {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.person-card .person-designation {
  font-size: 1rem;
  text-align: center;
}

.person-card .person-description {
  font-size: 1 rem;
  padding: 10px;
  text-align: justify;
}

.person-card .person-links {
  margin-top: auto;
  display: flex;
  justify-content: center;
}
.person-card .person-links a {
  margin: auto;
}

.person-card .person-links img {
  opacity: 0.7;
}

.person-card .person-links img:hover {
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transform: scale(1.1);
  opacity: 1;
}
